/*
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                  PRODUCT OVERVIEW
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

.productDetailPageGrid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 30px);
  column-gap: 10px;
  row-gap: 10px;
  font-family: 'Montserrat', sans-serif;
}

.pageHeadergrid {
  grid-column: 1/24;
  grid-row: 1/3;
  border-radius: 5px;
  background-color: rgba(179, 179, 179, 0.603);
}

.imageWheelGrid {
  grid-column: 2/8;
  grid-row: 3/16;
}

.productInformationGrid {
  grid-column: 8/13;
  grid-row: 3/8;
}

.styleSelectionGrid {
  grid-column: 8/13;
  grid-row: 8/16;
  max-width: 375px;
  max-height: 225px;
  overflow: scroll;
}

.addToCartGrid {
  grid-column: 8/13;
  grid-row: 14/17;
}

.photoDisplay {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(4, 30px);
  column-gap: 10px;
  row-gap: 10px;
}


#CentralPhoto1Grid {
  object-fit: contain;
  overflow: hidden;
  max-width: 100%;
}

.CentralPhoto1 {
  height: 500px;
  width: 500px;
  max-width: 700px;
  max-height: 700px;
}

.centralGridMainPhoto {
  grid-column: 6/21;
  grid-row: 1/4;
}

.wheelimageGrid {
  grid-column: 3/4;
  grid-row-start: 1;
  text-align: center;
}

.borderStyle {
  max-height: 75px;
  max-width: 75px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid black;
}

.styleRender {
  max-height: 75px;
  max-width: 75px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 5px;
  border: 3px solid rgba(71, 71, 71, 0.084);
}


.productDesctiptionFeatrues {
  grid-column: 1/17;
  grid-row: 17/19;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 40px);
  text-align: center;
  vertical-align: center;
}

.productDesctiptionSummary {
  grid-column: 2/6;
  grid-row: 1/3;
  font-size: medium;
}

.featureListPane2 {
  grid-column: 7/10;
  grid-row: 1/3;
}

.verticalLine {
  grid-column: 7/7;
  grid-row: 1/4;
  border-left: 3px solid rgba(76, 76, 76, 0.447);
  max-height: 125px;
  height: 100%;
  vertical-align: top;
}

.strike {
  text-decoration: line-through;
}

.makeInline {
  display: flex;
}
.starProductPage {
  padding-right: 20px;
  float: left;
}
.readReviews {
  font-size: small;
  font-weight: 700;
  text-decoration: underline;
  text-align: bottom;
}

.bold {
  font-weight: 700;
}

.generalBorder {
  border: 1.5px solid black;
}

.zoom-lens {
  position: absolute;
  border: 2px solid white;
  width: 50px;
  height: 50px;
}

.zoom-result {
  border: 2px solid black;
}
#image-zoom {
  border: 2px solid green;
  height: 300px;
  width: 500px;
}
.cartGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 30px);
  column-gap: 5px;
  row-gap: 5px;
}

.sizeSelectorGrid {
  grid-column: 1/4;
  grid-row: 1/1;
}

.sizeSelector {
  border-radius: 5px;
  padding: 5px;
  float: center;
  text-align: center;
  width: 100%;
}
.quantitySelectorGrid {
  grid-column: 1/3;
  grid-row: 2/2;
}

.quantitySelector {
  border: 1.5px solid black;
  border-radius: 2px;
  padding: 5px;
  float: center;
  text-align: center;
  width: 100%;
}

.addToOutfitGrid {
  grid-column: 3/4;
  grid-row: 2/2;
}

.addToOutfitBox {
  border: 1.5px solid black;
  border-radius: 2px;
  height: 28px;
  text-align: center;
  vertical-align: bottom;
}

.addToCartButtonGrid {
  grid-column: 1/4;
  grid-row: 3/3;
}

.addToCartButton {
  border: 1.5px solid black;
  background-color: grey;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
  object-fit: contain;
}
.checkLocationRender {
  display: flex;
}

/*
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                  QUESTIONS AND ANSWERS
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* MODAL STYLING */

#questionModal, #answerModal, #photoModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#questionModalContent, #answerModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

#photoContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

#photo {
  width: 50vw;
  height: 80vh;
}

#questionBody, #answerBody {
  resize: none;
}

/* border: 1px solid rgb(199, 199, 199); */

.lightText {
  font-weight: 300;
}

#noticeText {
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* QnA MAIN WIDGET */

#QnAHeader {
  font-weight: 200;
}

.QnAContainer {
  font-family: 'Montserrat', sans-serif;
  width: 70vw;
  padding-left: 15vw;
}

#questionList {
  max-height: 80vh;
  overflow-y: scroll;
}

#searchedList {
  max-height: 80vh;
  overflow-y: scroll;
  display: 'none';
}

#toggleAnswers {
  font-size: 12px;
}

textarea {
  font-family: 'Montserrat', sans-serif;
}

/* ANSWERS */

#answerHead {
  display: inline;
}

#answerBody {
  display: inline;
  font-weight: 300;
  color: #5d5d5d;
}

#answerInfo {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 12px;
}

.answerImage {
  max-height: 75px;
  max-width: 75px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #565656;
}

.answerImage:hover {
  cursor: pointer;
}

span:nth-child(2) {
  padding-left: 10px;
}

#noAnswers {
  font-weight: 300;
}

/* QUESTIONS */

#questionHead {
  display: inline;
  padding-bottom: 1px;
}

#questionLinks {
  display: inline;
  float: right;
  font-size: 12px;
}

/* SEARCH */

#searchText {
  width: 96%;
  padding: 15px 20px;
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png);
  background-size: 17px 17px;
  background-position: 119vh 1vw;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 15px;
}

/* BUTTONS */

.questionButton {
  border: 2px solid #565656;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  transition-duration: 0.5s;
}

.questionButton:hover {
  cursor: pointer;
  background-color: #f3f2f2;
}

/* MISC */

.QnAPadTop {
  padding-top: 10px;
}

.QnAPadDown {
  padding-bottom: 30px;
}

.QnAPadLeft {
  padding-left: 27px;
}

.QnAPad {
  padding-left: 27px;
  padding-bottom: 20px;
}

.color {
  color: #3e3e3e;
}

.onHover {
  cursor: pointer;
}


/*
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                        RELATED ITEMS
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/

/* make related product and myoutfit list */
/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Poppins', sans-serif;
  z-index: 1000
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.comparison-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  font-family: 'Poppins', sans-serif;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.title {
  font-family: 'Poppins', sans-serif;
}

.list {
  width: 1000px;
  overflow-x: scroll;
  display: flex;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

.list-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 300px;
  position: relative;
  display:inline-block;
  margin-right: 25px;
  font-family: 'Poppins', sans-serif;
  text-indent: 10px;
  line-height: 0.8;
}

.list-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.list-card .media-object {
  width: 200px; /* width of container */
  height: 200px; /* height of container */
  display: block;
  opacity: 0.75;
  object-fit: cover;
}

.list-card .symbol{
  position: absolute;
  bottom:87%;
  left:80%;
}

.add-new-card {
  text-align: center;
  line-height: 45px;
  font-size: 80px;
  opacity: 0.75;
}


/*
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
                                                        Reviews!
    /////////////////////////////////////////////////////////////////////////////////////////////////////////////////
*/


.summaryArea {
  display:inline-block;
  width: 30%;
  vertical-align: top;
}

.reviewArea {
  display:inline-block;
  width: 70%;
  padding-top: 70px;
}

.reviewContainer {
  width: 70%;
  padding-left: 15%;
  margin-top: 10px;
}

#reviewPopup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#reviewPopupContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#summary {
  width: 60%;
  height: 40px;
}

#body {
  width: 60%;
  height: 200px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.checked {
  color: black;
}

.reviewButton {
  display: inline-block;
  border: 2px solid #565656;
  color: black;
  padding: 15px 32px;
  text-align: center;
  margin-right: 10px;
  font-size: 18px;
  transition-duration: 0.5s;
  font-weight: bold;
}

.reviewButton:hover {
  cursor: pointer;
  background-color: #f3f2f2;
}

.indvReview {
  border-bottom: 1px solid black;
  margin-top: 10px;
}

.buttons {
  height: 100px;
  margin-top: 20px;
}

.fa-star {
  padding-left: 0px !important;
}

.fa-star-o {
  padding-left:0px !important;
}

.numRating {
  display: inline-block;
  font-size: 70px;
  font-weight: bold;
  margin-right: 10px;
}

.starRating {
  display: inline-block;
  vertical-align: top;
  padding-top: 15px;
}

.reviewStars {
  display: inline-block;
  width: 30px;
}

.rating {
  display: inline-block;
  border:none;
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}
.rating:not(:checked) > label:before {
  content:'★ ';
}
.rating > input:checked ~ label {
  color: black;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
  color: black;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
  color: black;
}
.rating > label:active {
  position:relative;
}

.recommendPercent {
  font-size: 12px !important;
  margin-bottom: 10px;
}

.reviewerName {
  display: inline-block;
  width: 80%;
  text-align: right;
  font-size: 12px;
  padding-top: 15px;
}

.responseBox, .responseBox2 {
  background-color: #aaa;
  width: 100%;
}

.helpful-link {
  color:#565656;
  text-decoration: underline;
  font-size: 12px;
}

.helpful-text {
  color:#565656;
  font-size: 12px;
}