.productDetailPage1 {
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.layout1 {
  display: flex;
  flex-direction: row;
}

.PDPLayout1 {
  border: 5px solid red;
  flex: 3.25;
  width: 200px;
}
.PDPLayout2 {
  border: 5px solid pink;
  flex: 1;
}

.PDPLayout3 {
  border: 5px solid black;
}
.Pane2Top {
  border:5px solid black
}

.Pane2Middle {
  border:5px solid red
}

.Pane2Bottom {
  border:5px solid green;
  flex-direction: column;
  position: relative;
}

.styleRenderBorder {
  max-height: 75px;
  max-width: 75px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  border-radius: 50%;
  float: left;
}

.styleRender {
  max-height: 75px;
  max-width: 75px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 5px;
}


.CentralPhoto1 {
  height: 500px;
  width: 500px;
  max-width: 700px;
  max-height: 700px;
}


.test {
  height: 15px;
  width: 15px;
}


.strike {
  text-decoration: line-through;
}