.styleRender {
  max-height: 75px;
  max-width: 75px;
}

.imageRender {
  max-height: 75px;
  max-width: 75px;
  border-radius: 10%;
}

.CentralPhoto {
  max-height: 200px;
  max-width: 200px;
  border-radius: 10%;
}

.strike {
  text-decoration: line-through;
}