/* MODAL STYLING */

#questionModal, #answerModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#questionModalContent, #answerModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* QnA MAIN WIDGET */

#QnAHeader {
  font-weight: 200;
}

.QnAContainer {
  font-family: 'Montserrat', sans-serif;
  width: 70vw;
  padding-left: 15vw;
}

#questionList {
  max-height: 80vh;
  overflow-y: scroll;
}

#toggleAnswers {
  font-size: 12px;
}

/* ANSWERS */

#answerHead {
  display: inline;
}

#answerBody {
  display: inline;
  font-weight: 300;
  color: #5d5d5d;
}

#answerInfo {
  color: #5d5d5d;
  font-weight: 300;
  font-size: 12px;
}

.answerImage {
  max-height: 75px;
  max-width: 75px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #565656;
}

.answerImage:hover {
  cursor: pointer;
}

span:nth-child(2) {
  padding-left: 10px;
}

#noAnswers {
  font-weight: 300;
}

/* QUESTIONS */

#questionHead {
  display: inline;
  padding-bottom: 1px;
}

#questionLinks {
  display: inline;
  float: right;
  font-size: 12px;
}

/* SEARCH */

#searchText {
  width: 96%;
  padding: 15px 20px;
  outline: none;
  border: 1px solid rgb(199, 199, 199);
  background-image: url(https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-21.png);
  background-size: 17px 17px;
  background-position: 975px 14px;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 15px;
}

/* #searchText[type=text]:focus {
  border: 1px solid rgb(199, 199, 199);
} */

/* BUTTONS */

.questionButton {
  border: 2px solid #565656;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  font-size: 14px;
  transition-duration: 0.5s;
}

.questionButton:hover {
  cursor: pointer;
  background-color: #f3f2f2;
}

/* MISC */

.QnAPadDown {
  padding-bottom: 30px;
}

.QnAPadLeft {
  padding-left: 27px;
}

.QnAPad {
  padding-left: 27px;
  padding-bottom: 20px;
}

.color {
  color: #3e3e3e;
}