/* make related product and myoutfit list */
/* body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
} */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  font-family: 'Poppins', sans-serif;
  z-index: 1000
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.comparison-table {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


table {
  border: 2px solid forestgreen;
  width: 800px;
  height: 200px;
  font-family: 'Poppins', sans-serif;
}

th {
  border-bottom: 1px solid black;
}

td {
  text-align: center;
}

.title {
  font-family: 'Poppins', sans-serif;
}

.list {
  width: 1000px;
  overflow-x: scroll;
  display: flex;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
}

.list-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 300px;
  position: relative;
  display:inline-block;
  margin-right: 25px;
  font-family: 'Poppins', sans-serif;
  text-indent: 10px;
  line-height: 0.8;
}

.list-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.list-card .media-object {
  width: 200px; /* width of container */
  height: 200px; /* height of container */
  display: block;
  opacity: 0.75;
  object-fit: cover;
}

.list-card .symbol{
  position: absolute;
  bottom:87%; 
  left:80%;
}

.add-new-card {
  text-align: center;
  line-height: 45px;
  font-size: 80px;
  opacity: 0.75;
}
