.productDetailPage1 {
  display: flex;
  flex-direction: column;
  margin: 3%;
}

.pageHeader {
  margin: auto;
  width: 90%;
  padding-top: 0;
  padding-bottom: 7.5%;
  background-color: rgba(179, 179, 179, 0.603);
}

.layout1 {
  display: flex;
  flex-direction: row;
}

.layout2 {
  display:inline-flex;
}
.emptySpace {
  flex: .5;
}

.descriptionPane1 {
  flex: 2.75;
  vertical-align: top;
}
.featureListPane2 {
  flex: 1;
  float: right;
  vertical-align: text-bottom;
}

.PDPLayout1 {
  flex: 3.25;
  width: 200px;
}
.PDPLayout2 {
  flex: 1;
}

.PDPLayout3 {
  border: 0px solid green;
}
/* .Pane2Top {
  border: 0px solid green
} */

/* .Pane2Middle {
  border:5px solid red
} */

.Pane2Bottom {
  border:5px solid green;
  flex-direction: column;
}

.styleRenderBorder {
  max-height: 75px;
  max-width: 75px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid black;
  border-radius: 50%;
  float: left;
}

.styleRender {
  max-height: 75px;
  max-width: 75px;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin: 5px;
}


.CentralPhoto1 {
  height: 500px;
  width: 500px;
  max-width: 700px;
  max-height: 700px;
}

.productSlogan {
  font-weight: 700;
}

.productDescription {
  font-size: small;
}

.strike {
  text-decoration: line-through;
}
.makeInline {
  float: left;
}

.verticalLine {
  border-left: 2px solid rgba(76, 76, 76, 0.447);
  max-height: 80px;
  height: 80;
  position: inherit;
}